.contact-form__heading {
    text-align: center;
    font-size: 25px;
}

.parent__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.child__container {
    background: white;
    height: 150px;
    width: 40%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.child__container button  {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.alert--success {
    font-size: 20px;
    background-color: aqua;
    font-weight: bold;
}

.alert--danger {
    font-size: 20px;
    background-color: red;
    font-weight: bold;
}

.child__container button {
    border: none;
    outline: none;
    background: transparent;
    display: block;
    margin: 40px auto;
}